* {
    font-family:Arial, Helvetica, sans-serif;
}

.container, .after-next {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
}

   
   
